* {
    box-sizing: border-box;
}
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-flow: row wrap;
    width: 960px;
    height: 960px;
}
.gridItem {
    border: 1px solid grey;
    flex: 1 1 auto;
}